.header_container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid;

  ul {
    width: calc(100% - 240px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .sign_btn {
    display: flex;
    column-gap: 10px;
    align-items: center;

    button {
      cursor: pointer;
      border: none;
      font-size: bold;
      padding: 10px 15px;
      border-radius: 5px;
    }

    a:nth-child(1) {
      button {
        color: white;
        background: blueviolet;
      }
    }

    a:nth-child(2) {
      button {
        color: black;
        background: aliceblue;
      }
    }
  }
}

a {
  color: black;
}
